<?xml version="1.0"?>
<config>
	<module>
		<name>Theme Options</name>
		<version>2.0.0</version>
		<author>KenobiSoft</author>
		<dir>theme_options</dir>
        <mode>production</mode>
        <collection>
            <optionGroup>sa_theme_options</optionGroup>
            <optionName>sa_options</optionName>
        </collection>
		<params>
			<page>initialzr-page</page>
			<update>update</update>
		</params>
        <defaultView>dashboard</defaultView>
        <menuIcon>dashicons-list-view</menuIcon>
	</module>
    <pages>
        <page>
            <name>Dashboard</name>
            <masonry>true</masonry>
            <sections>
                <section>
                    <width>3/6</width>
                    <title>Activity</title>
                    <subtitle>Activity information about posts.</subtitle>
                    <metafields>
                        <metafield>
                            <type>dropdown_multiple</type>
                            <name>dropdownm1</name>
                            <label>Taxonomy Dropdown</label>
                            <dataType>taxonomy</dataType>
                            <data>category</data>
                        </metafield>
                    </metafields>
                </section>
            </sections>
        </page>
    </pages>
</config>