/**
 * Style settings for module [theme_options]
 */


/** Breakpoints */
$breakpoint-md: 767px;

/** View [index] */
$view-heading-color-index: #F7F7F7;
$view-navigation-color-index: #FFFFFF;
$view-navigation-hover-color-index: rgba(101, 108, 126, 0.4);
$view-navigation-active-color-index: rgba(0, 115, 170, 0.6);
$view-main-color-index: #efefef;
$view-footer-color-index: #efefef;

/** General */
$highlight-color: rgba(0, 115, 170, 0.6);
$highlight-color-hover: $view-navigation-hover-color-index;

/** Pie charts colors */
$publish-posts-color: #e52c65;
$draft-posts-color: #ff8c53;
$trash-posts-color: #ffc851;

$delete-color: red;
$add-color: blue;
$caution-color: lightyellow;
$alert-color: red;

$active-plugin-color: #87D37C;
$nonactive-plugin-color: #F62459;

$success-color: #87D37C;
$failure-color: #F62459;

$success-font-color: #3c763d;
$failure-font-color: #a94442;
