/*
Sass component: Fonts
Description: All fonts required for Een Moi Portret
*/

/** font-awesome */
@font-face {
  font-family: "FontAwesome";
  src: url("assets/fonts/font-awesome/fontawesome.otf") format("opentype");
  src: url('assets/fonts/font-awesome/fontawesome.eot') format('embedded-opentype'),
     url('assets/fonts/font-awesome/fontawesome.woff2') format('woff2'),
     url('assets/fonts/font-awesome/fontawesome.woff') format('woff'),
     url('assets/fonts/font-awesome/fontawesome.ttf') format('truetype');
  font-weight: normal;
  font-style: normal
}

/** font-material-icons */
@font-face {
  font-family: "Material-Design-Icons";
  src: url("../fonts/material-design-icons/Material-Design-Icons.otf") format("opentype");
  src: url('../fonts/material-design-icons/Material-Design-Icons.eot') format('embedded-opentype'),
    url('../fonts/material-design-icons/Material-Design-Icons.woff2') format('woff2'),
    url('../fonts/material-design-icons/Material-Design-Icons.woff') format('woff'),
    url('../fonts/material-design-icons/Material-Design-Icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal
}
