/**
 * General Styles
 */


.appearance_page_theme_options {
  #wpcontent {
    padding-left: 0px;
  }

  #wpwrap {
    background-color: $view-main-color-index;
  }
}

.view-block {
  background-color: white;
  padding: 20px;
  margin: 10px;
  @extend .z-depth-1;
}

.view-page-heading {
  font-size: 20px;
  margin-left: -5px;
}

.view-block-title.widget {
  .block-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }

  .block-subtitle {
    font-size: 12px;
    margin-top: 0px;
  }
}

.view-block-title {
  .block-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 0px;
  }

  .block-subtitle {
    font-size: 12px;
    margin-top: 0px;
  }
}

.view-block-section {
  margin-bottom: 20px;
}

.view-block-section-heading {
  font-size: 14px;
  font-weight: 600;
}

.view-field-title {
  font-weight: 600;
  margin-bottom: 0px;
}

.view-field-label {
  margin-top: 0px;
  font-size: 12px;
}

.view-block-label {
  width: 120px;
  display: inline-block;
}

.view-block-label-large {
  width: 180px;
  display: inline-block;
}

.view-metafield {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.gallery-frame {
  overflow: hidden;

  ul {
    margin: 0px;

    li {
      display: inline-block;
      margin: 0px;
    }
  }
}

.view-field, .view-dropdown-single {
  min-width: 250px;
}

.view-dropdown-multiple {
  width: 230px;
  height: 60px;
  overflow: auto;
  padding: 8px 10px 2px 10px;
  margin-bottom: 20px;
  border: 1px solid #DDD;
}

.view-field-hidden {
  display: none;
}

.view-block-count {
  font-size: 14px;
  font-weight: 600;
}

.chart-publish-posts {
  fill: $publish-posts-color;
}

.chart-draft-posts {
  fill: $draft-posts-color;
}

.chart-trash-posts {
  fill: $trash-posts-color;
}


.post-legend {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  top: 2px;
}

.publish-posts {
  @extend .post-legend;
  background-color: $publish-posts-color;
}

.draft-posts {
  @extend .post-legend;
  background-color: $draft-posts-color;
}

.trash-posts {
  @extend .post-legend;
  background-color: $trash-posts-color;
}

.view-image-upload-box {
  img {
    width: 250px;
    height: auto;
    @extend .z-depth-1;
  }
}

.textarea-hidden {
  display: none;
}

.view-gallery-wrapper {

  img {
    height: 140px;
    @extend .z-depth-1;
  }
}

.gallery-image-wrapper, .view-image-upload-box {
  position: relative;

  .gallery-image-controls {
    display: none;
    position:absolute;
    top: 0px;
    width: 100%;
    background-color: $highlight-color-hover;
    z-index: 10px;
  }

  .button-remove-gallery-image {
    float: right;
    font-size: 26px;
    color: $delete-color;
    @include transition(all, 0.3s);
  }
}

.gallery-image-wrapper {
  display: inline-block;
  margin-right: 10px;
}

.view-image-upload-box {
  width: 250px;
}

.gallery-image-link {
  height: auto;
  display: block;
  overflow: hidden;
}

.highlighted {
  color: black;
  font-weight: 600;
}

.active-plugin {
  @extend .post-legend;
  background-color: $active-plugin-color;
}

.disabled-plugin {
  @extend .post-legend;
  background-color: $nonactive-plugin-color;
}