/**
 * Helper styles
 */

.col-full {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.row-full {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.widget-box-medium {
  width: 100%;
}

.col-full-mobile {

  @media (max-width:$breakpoint-md) {
    padding-left: 0px;
    padding-right: 0px;
  }
}